modules = ["nodejs-22"]
run = "npm run build"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8021
externalPort = 3000
